h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $font__headings;
	font-weight: $heading__weight;
	margin: 0;
	padding: 0;
}

h1,
.h1 {

}

h2,
.h2 {
	font-size: 1.5em;
	padding: 0 0 $base-heading-padding-unit 0;
}

h3,
.h3 {
	
}

h4,
.h4 {
	
}

h5,
.h5 {
	
}

h6,
.h6 {
	
}
