a {
	color: $color__link;
	text-decoration: none;
	transition: $color__transition;

	&:visited {
		color: $color__link-visited;
	}

	&:active,
	&:focus,
	&:hover {
		color: $color__link-hover;
	}

	&:active,
	&:focus {
		outline: none;
	}

	&.active {
		color: $color__link-active;
	}

}
