# BEGIN GZIP  
#<IfModule mod_gzip.c>
#mod_gzip_on       Yes
#mod_gzip_dechunk  Yes
#mod_gzip_item_include file      \.(html?|txt|css|js)$
#mod_gzip_item_include mime      ^text/.*
#mod_gzip_item_include mime      ^application/x-javascript.*
#mod_gzip_item_exclude mime      ^image/.*
#mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
#</IfModule>
# END GZIP

<IfModule pagespeed_module>
    ModPagespeed on
    ModPagespeedEnableFilters remove_comments,rewrite_javascript,rewrite_css,rewrite_images
    ModPagespeedEnableFilters move_css_to_head
    ModPagespeedJpegRecompressionQuality -1
</IfModule>

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

<FilesMatch "\\.(js|css|html|htm|php|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>

# Redirect /feed/ to Feedburner (if not Feedburner bot)
<IfModule mod_rewrite.c>
RewriteEngine on
#RewriteCond %{HTTP_USER_AGENT} !FeedBurner
#RewriteRule ^feed/?$ http://feeds2.feedburner.com/jonathanstegall [R,L]
#RewriteRule ^posts/feed/?$ http://feeds2.feedburner.com/jonathanstegall-posts [R,L]
#RewriteRule ^daily-links/feed/?$ http://feeds2.feedburner.com/jonathanstegall-dailylinks [R,L]
#RewriteRule ^work/feed/?$ http://feeds2.feedburner.com/jonathanstegall-work [R,L]
RewriteRule ^archives/?$ http://jonathanstegall.com/writings/ [R,L]
RewriteRule ^blog/?$ http://jonathanstegall.com/writings/ [R,L]
RewriteRule ^daily-links/?$ http://jonathanstegall.com/items-of-interest/?$ [R,L]
</IfModule>

# Apache/PHP settings:

# Protect files and directories from prying eyes.
<FilesMatch "(\.(engine|inc|info|install|module|profile|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)|code-style\.pl|Entries.*|Repository|Root|Tag|Template)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Set the default handler.
DirectoryIndex index.html index.xml index.php

ErrorDocument 404 /404.html

## going to need to add some redirects

## also maybe webfont stuff