// site wide variables

// palette

// hex codes
$color-primary-darker: #0E2221; // main primary color
$color-primary-dark: #4B5A59;
$color-primary-medium: #879191;
$color-primary-light: #C3C8C7;
$color-primary-lighter: #E7E9E9;

$color-secondary-darker: #3B8E8A; // main secondary color
$color-secondary-dark: #6CC3BE;
$color-secondary-medium: #9EC7C5;
$color-secondary-light: #CEE3E2;
$color-secondary-lighter: #ECF4F4;

// rgba codes
$rgba-primary-darker: rgba_color( $color-primary-darker, 1 ); // main primary color
$rgba-primary-dark: rgba_color( $color-primary-dark, 1 );
$rgba-primary-medium: rgba_color( $color-primary-medium, 1 );
$rgba-primary-light: rgba_color( $color-primary-light, 1 );
$rgba-primary-lighter: rgba_color( $color-primary-lighter, 1 );

$rgba-secondary-darker: rgba_color( $color-secondary-darker, 1 ); // main secondary color
$rgba-secondary-dark: rgba_color( $color-secondary-dark, 1 );
$rgba-secondary-medium: rgba_color( $color-secondary-medium, 1 );
$rgba-secondary-light: rgba_color( $color-secondary-light, 1 );
$rgba-secondary-lighter: rgba_color( $color-secondary-lighter, 1 );


// other colors
$color__black: #000;
$color__white: #fff;
$color__dark-gray: #333;

// some less tinted grays
$color__gray-lightest: #cdcdd0;
$color__gray-light: #ababab;
$color__gray-med: palette(gray);
$color__gray-dark: #404040;
$color__gray-darkest: #282828;

// text colors
$color__text-body: rgba_color( $color__dark-gray, 1 );
$color__text-heading: $rgba-primary-medium;

// background colors
$color__background-body: rgba_color( $color__white, 1 );
$color__background-edges: $rgba-primary-darker;

//$color__background-button: $color__minnpost-white;
//$color__background-pre: #eee;
//$color__background-ins: #fff9c0;

// form colors
//$color__text-screen: #21759b;
//$color__text-input: #666;
//$color__text-input-focus: #111;
//$color__form-text: #504949;

// link colors
$color__link: $rgba-secondary-darker;
$color__link-visited: $rgba-secondary-darker;
$color__link-hover: $rgba-secondary-dark;
$color__link-active: $rgba-secondary-dark;

// border colors
$color__hr: #ccc;
$color__border-light: $rgba-primary-light;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// type
$font__sans: "tablet-gothic", Helvetica, Arial, sans-serif;
$font__serif: "athelas", Georgia, "Times New Roman", Times, serif;
$font__headings: $font__sans;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__body: $font__serif;
$font__form: $font__serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// font sizing/spacing
$base-font-size: 20px;
$base-line-height: 1.5;
$base-line-height-em: $base-line-height + em;



// site structure
$max-width-medium: 680px;
$medium-margins-too-small: 700px;
$max-width-medium-plus-margins: 720px;
$max-width-page: 975px;
$max-width-story-2012: 452px;

//$header-height-smaller-screen: 50px;
//$header-height-small-screen: 76px;
//$header-height-before-nav-breaks: 66px;
//$header-height-after-nav-breaks: 71px;

//$grid-gap: 10px;

// site region sizes
//$size__main-smaller-screen: 50%;
//$size__main-small-screen: 65%;
//$size__main-large-screen: 400px;
//$size__archive-medium-screen: 600px;
//$size__site-sidebar: 300px;
//$size__content-sidebar-small-screen: 280px;
//$size__content-sidebar-medium-screen: 35%;
//$size__content-sidebar-large-screen: 205px;

// footer
//$size__footer-column: 270px;


// spacing
//$standard-page-margin: 1.538461538461538em; // 20px
//$home-content-sidebar-padding: 35px;
//$archive-content-sidebar-padding: 15px;
//$footer-box-spacing: 15px;
//$form-text-indent: 6px;
