html {
	box-sizing: border-box;
	background: $color__background-body;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 0;
	color: $color__text-body;
	background: $color__background-body;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__hr;
	border: 0;
	height: 1px;
	margin-bottom: $base-line-height;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

form {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

label {
	display: inline-block;
}

input,
select,
textarea {
	max-width: 100%; // sometimes there'll be more specific sizes, but we should never go over 100% here
	outline: none;
	-webkit-appearance: none;
	border: 0;
	padding: var(--space0);
}

input[type="submit"] {
	cursor: pointer;
	padding: var(--space0) var(--space1);
	background: $color__link;
	color: $color__white;

	&:hover,
	&:focus {
		background: $color__link-hover;
	}
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
