html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    font-family: $font__body;
    font-size: var(--scale0);
    line-height: $base-line-height;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font__headings;
    font-weight: $heading__weight;
    margin: 0;
    padding: 0;
}

h1,
.h1 {
    font-size: var(--scale4);
}

h2,
.h2 {
    font-size: var(--scale3);
    padding: 0 0 var(--space-1) 0;
}

h3,
.h3 {
    font-size: var(--scale2);
}

h4,
.h4 {
    font-size: var(--scale1);
}

h5,
.h5 {
    font-size: var(--scale1);
    font-weight: $body__weight;
}


p {
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: var(--space1);
}

p:last-child {
	margin-bottom: 0;
}

blockquote {
    border-left: 5px solid $color__border-light;
    margin-left: 0;
    padding: 0 0 var(--space0) var(--space1);
    margin-bottom: var(--space1);
}

label {
  line-height: $base-line-height;
}

input,
select,
textarea {
  font-family: $font__form;
  line-height: $base-line-height;
}

input[type="submit"] {
  font-weight: $heading__weight;
}
