body {
	margin: 0 auto;
	font: 1rem normal $base-font-family;
	@include font-size($base-font-size);
	//max-width: 1200px;
	color: $body-color;
}
.grid {
	margin: 0 auto;
	padding-left: $half-spacing-unit;
  padding-right: $half-spacing-unit;
}
[class*='grid__item'] {
	float: left;
	display: block;
	padding: 0 $base-spacing-unit 0 0;
}
[class*='grid__item']:last-of-type {
  padding-right: 0;
}
h1, h2, h3, h4, h5, h6, p.muted {
	color: $header-color;
	font-family: $header-font-family;
	font-weight: 200;
	margin-bottom: 0.75em;
	line-height: inherit;
}
h1,.alpha{
    //@include font-size($base-font-size * 2.4, false);
}
h2 {
	@include font-size($base-font-size * 1.6);
}

p {
	margin-bottom: 1em;
}
ul li, ol li {
	margin-bottom: 0.5em;	
}
ul.inline li {
	display: inline-block;
}

blockquote {
	color: lighten( $body-color, 30%);
	font-style: italic;
	padding-left: 0.75em;
	border-left: 1px solid $border-color;
	text-indent: 0;
}
blockquote p:last-child {
	margin: 0;
}
blockquote p:before {
	content: '';
}
blockquote p:after, blockquote p:last-of-type:after {
	content: '';
}

a:link, a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition (color 0.3s ease-in-out 0s);
}
a:hover, a:focus, a:active {
	color: $link-hover-color;
	text-decoration: none;
}

a.btn--positive:link, a.btn--positive:visited {
	background-color: $logo-secondary-color;
	color: #fff;
	@include transition (background-color 0.3s ease-in-out 0s);
}
a.btn--positive:hover, a.btn--positive:active {
	background-color: lighten( $logo-secondary-color, 10% );
	color: #fff;
}

@media screen and (min-width: 510px) {
	.grid-wrapper {
		padding: 0.5em;
	}
	.grid {
		padding-top: 0.25em;
	}
}

@media screen and (min-width: 768px) {
	.grid {
		padding-top: 0.5em;
	}
}

@media screen and (min-width: 980px) {
	.grid {
		max-width: 48em;
		padding-bottom: 1.5em;
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 1.5em;
		line-height: 1.5;
	}
}