header[role="banner"] {
	display: grid;
	grid-template-columns: var(--grid--wrapper);
	column-gap: var(--grid--gutter);
	background: $rgba-primary-darker;
	color: $color__white;
	padding: var(--space0) 0;
	align-items: center;
}