---
layout: default
---

<header class="intro grid cf">
  <h1>{{page.title | replace:'Archive for ',' '}}</h1>
</header>

<div class="grid-wrapper cf">
  <section class="archive grid cf">
    {% for post in page.archive.posts reversed %}
    <article>
      <h1>{% if post.type == 'aside' %}<a href="{{post.link}}"> {% else %}<a href="{{post.url}}">{% endif %}{{post.title}}{% if post.type == 'aside' %} <span class="fa fa-arrow-circle-o-right"></span>{% endif %}</a></h1>
      <p class="muted">{{ post.date | date: "%B %-d, %Y" }}</p>
      {% if post.type == 'aside' %}{% if post.description != blank and post.description != nil %}<p>{{post.description}}</p>{% else %}{{post.content}}{% endif %}{% endif %}
    </article>
    {% endfor %}
  </section>
</div>

<!-- Pagination links -->
<nav class="grid-wrapper section-nav all-years cf">
  <ul class="grid cf">
    {% if paginator.previous_page %}
    <li><a href="/{{ paginator.previous_page_path | replace:'/',' ' | truncatewords: 1 | remove:'...' }}" class="previous">Older</a></li>
    {% else %}
    <li class="previous">Older</li>
    {% endif %}
    <li class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.next_page %}
    <li><a href="/{{ paginator.next_page_path | replace:'/',' ' | truncatewords: 1 | remove:'...' }}" class="next">Newer</a></li>
    {% else %}
    <li class="next">Newer</li>
    {% endif %}
  </ul>
</nav>