---
layout: default
---

<header class="intro grid cf">
  {% if page.grouptype == 'tag' %}
  <h1>Posts Tagged <strong>“{{ page.tag }}”</strong></h1>
  {% elsif page.grouptype == 'category' %}
  <h1>Posts Categorized <strong>“{{ page.category | titlecase }}”</strong></h1>
</header>

<div class="grid-wrapper cf">
  <section class="archive grid cf">
    {% for post in posts %}
    <article>
      <h1>{% if post.type == 'aside' %}<a href="{{post.link}}"> {% else %}<a href="{{post.url}}">{% endif %}{{post.title}}{% if post.type == 'aside' %} <span class="fa fa-arrow-circle-o-right"></span>{% endif %}</a></h1>
      <p class="muted">{{ post.date | date: "%B %-d, %Y" }}</p>
      {% if post.type == 'aside' %}{% if post.description != blank and post.description != nil %}<p>{{post.description}}</p>{% else %}{{post.content}}{% endif %}{% endif %}
    </article>
    {% endfor %}
  </section>
</div>