.m-home-section {
  	padding: 0 0 $base-margin-unit * 2 0;
  	grid-column: 2 / span 8;
	position: relative;
	font-size: 1.2rem;
  	
  	&:first-of-type {
  		padding: $base-margin-unit 0 $base-margin-unit * 2 0;
  	}

  	&:nth-child(2n) {
		grid-column: 5 / span 8;
	}

	&:nth-child(2n + 1) {
		grid-column: 3 / span 8;
	}
  	
  	&.m-home-section-jonathan {
  		grid-column: 2 / span 12;
  		display: grid;
  		grid-template-columns: repeat( 12, minmax( 1rem, 96px ) );
  	
  		h1 {
			color: inherit;
			font-size: 2.5rem;
			margin: 0;
			font-weight: 700;
			grid-column: 1 / span 6;
			position: relative;
		}

		article {
			margin-top: 0.5em;
			grid-column: 7 / span 6;
			font-size: 1.2rem;
		}
	}
}
