nav[role="navigation"] {
	grid-column: 10 / span 8;
	font-family: $font__sans;
	font-size: 0.8rem;
	line-height: 2;
	font-weight: $heading__weight;
	> ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: auto;	
		}
		a {
			padding: 0 $base-padding-unit * 2;
			color: $color__white;
			&:hover, &:focus, &:active, &.active {
				color: $rgba-tertiary-darker;
			}
		}
	}
}